<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = '/img/library.png')}}">
<title>LibOn :: Добавление книги</title>
</head>
<body>
<div class="header">

	<div class="container">

		<div class="logo">
			<a href="{{ url_for('main_page') }}" title="На главную"> LibOn </a>
		</div>

		<div class="leftmenu">			
			<a href="{{ url_for('admin_profile') }}"> Мой профиль </a>
		</div>

		<ul class="menu">
			<li class="item"><a href="{{ url_for('log_in') }}"> Выход </a></li>
		</ul>
		 <div class="clear"></div>

	</div>

</div>

<div class="content">

    <h1> Добавление книги <h1>
	<label>{{err}}</label><br>

	<form method='post' class='reg-form' action="{{ url_for('Add_book') }}">

		<div class='form-row'>
			<label for='form_sname'> Название </label><br>
    		<input type='text' id='form_name' name='name'>
  		</div>

  		<div class='form-row'>
    		<label for='form_fname'> Автор </label><br>
    		<input type='text' id='form_author' name='author'>
		</div>

		<div class='form-row'>
    		<label for='form_fname'> Год издания </label><br>
    		<input type='text' id='form_author' name='publish_year'>
		</div>

		<div class='form-row'>
    		<label for='form_fname'> Срок чтения </label><br>
    		<input type='text' id='form_author' name='rental_time'>
		</div>

		<div class='form-row'>
    		<label for='form_fname'> Рубрика </label><br>
    		<input type='text' id='form_author' name='rubric_name'>
		</div>

			<label for='form_fname'> Тип книги </label><br>
			<input type="radio" name="book_type" value="on">Электронная<br>
			<input type="radio" name="book_type" value="off">Печатная<br>
		

		<div class="form-row">
			<input type="submit" value='Добавить'>
		</form>

	</div>

<div class="clear"><br /></div>


	
</div>
</body>
</html>