<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = 'img/library.png')}}" />
<title>LibOn :: Кто много ходит и много читает, тот много видит и много знает</title>
</head>
<body>
<div class="header">

	<div class="container">

		<div class="logo">
			<a href="{{ url_for('main_page') }}" title="На главную"> LibOn </a>
		</div>
		{% if b == False%}
			<ul class="menu">
			<li class="item"><a href="{{ url_for('registration') }}">Регистрация</a></li>
			<li class="item"><a href="{{ url_for('log_in') }}"> Вход </a></li>
			</ul>
		{%else%}
		<div class="leftmenu">
			{%if type == 'Admin'%}
			<a href="{{ url_for('admin_profile') }}"> Мой профиль </a>
			{%else%}
			<a href="{{ url_for('user_profile') }}"> Мой профиль </a>
			{%endif%}
		</div>
		<ul class="menu">
			<li class="item"><a href="{{ url_for('log_in') }}"> Выход </a></li>
		</ul>
		{%endif%}
		<ul class="menu">
		<div class="menu">		
		<form action="{{ url_for('search') }}" method='post'>
			<li class="item"><input type="text" class="field" name='Поиск' placeholder="Искать здесь"> </li>
			<li class="item"><button type="submit">Поиск</button></li>		
		</form>
		</div>
		</ul>
		
		
		 <div class="clear"></div>
	</div>
</div>
<div class="big-image">

	<p><img src="{{ url_for('static', filename = 'img/bg2.jpg')}}" alt="Баннер"></p>

</div>

<div class="content">

  <div class="tb">

    <h1> Разделы </h1>
    		<table align="center" width="50%" cellpadding="5">
    			{% for elem in rubric%}
				{% for item in elem%}
				<tr><td><a href="{{ url_for('rubric') }}?val={{item}}" >{{item}}</a></td></tr>
				{%endfor%}
				{%endfor%}
  			</table>
        </div>
  
</div>

<div class="clear"><br /></div>

</body>
</html>